Zapocet/Projekt2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Projekt2" targetNamespace="http://j2ee.netbeans.org/wsdl/Uloha2/schema/Projekt2"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Uloha2/schema/Projekt2" xmlns:ns="zapocet.asos" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Uloha2/schema/Projekt2">
            <xsd:import namespace="zapocet.asos" schemaLocation="Projekt2.xsd"/>
        </xsd:schema>
    </types>
    <message name="hladajTovarRequest">
        <part name="part1" element="ns:hladajTovar"/>
    </message>
    <message name="hladajTovarResponse">
        <part name="part1" element="ns:hladajTovarRes"/>
    </message>
    <message name="hladajTovarFault">
        <part name="part1" element="ns:hladajTovarExc"/>
    </message>
    <message name="pridajTovarRequest">
        <part name="part1" element="ns:pridajTovar"/>
    </message>
    <portType name="Projekt2PortType">
        <operation name="hladajTovar">
            <input name="input1" message="tns:hladajTovarRequest"/>
            <output name="output1" message="tns:hladajTovarResponse"/>
            <fault name="fault1" message="tns:hladajTovarFault"/>
        </operation>
        <operation name="pridajTovar">
            <input name="input2" message="tns:pridajTovarRequest"/>
        </operation>
    </portType>
    <binding name="Projekt2Binding" type="tns:Projekt2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hladajTovar">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="pridajTovar">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="Projekt2Service">
        <port name="Projekt2Port" binding="tns:Projekt2Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/Projekt2Service/Projekt2Port"/>
        </port>
    </service>
    <plnk:partnerLinkType name="Projekt2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Projekt2PortTypeRole" portType="tns:Projekt2PortType"/>
    </plnk:partnerLinkType>
</definitions>
